# I'm only interested in the git, matlab and LaTeX stuff.

# Ignores all files
*

# Excluding git stuff
!.gitattributes
!.gitignore
!readme.md
!.gitkeep

# And .m files
!*.m
!*.tex
!*.png
!*.pdf
!*.mat
!*.txt

# And LaTex files
!*.tex

# And in all subdirectories
!*/
